body {

/*Reduce size to 80% */
img {
  width: 80%;
}

/* Remove underlines */    
.cm-hmd-internal-link .cm-underline, .internal-link {
text-decoration: initial !important
}

/* Center Images */
img {
  display: block;
  margin: 0 auto;
}

/* Green Callouts */
.callout[data-callout="place"] {
    --callout-color: 36, 48, 52;
    --callout-icon: lucide-globe-2;
    border-radius: 10px;
}

.callout[data-callout="npc"] {
    --callout-color: 36, 48, 52;
    --callout-icon: lucide-ghost;
    border-radius: 10px;
}

.callout[data-callout="info"] {
    --callout-color: 36, 48, 52;
    --callout-icon: lucide-brain;
    border-radius: 10px;
}

.callout[data-callout="party"] {
    --callout-color: 36, 48, 52;
    --callout-icon: lucide-heart;
    border-radius: 10px;
}

.callout[data-callout="item"] {
    --callout-color: 36, 48, 52;
    --callout-icon: lucide-sword;
    border-radius: 10px;
}  
  
}
